# ================== Telegram Bot ==================
python-telegram-bot[job-queue]==21.6

# ================== HTTP & Async ==================
aiohttp==3.9.1
nest_asyncio==1.5.6

# ================== Web Framework ==================
fastapi==0.109.2
uvicorn[standard]==0.23.2

# ================== Diğer (opsiyonel) ==================
python-dotenv==1.0.1
